#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: flex;
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap : 15px;
  justify-content: center;
}

.mp-song {
  width: 100px;
  height: 100px;
  border-style: solid;
  position: relative;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 10px;
}

.mp-song:hover {
  filter: drop-shadow(0 0 2em #34fd01aa);
}
.mp-song.react:hover {
  filter: drop-shadow(0 0 2em #2cff36aa);
}

.song {
  width: 200px;
  height: 200px;
  border-style: solid;
  position: relative;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 15px;
}

.btn {
  /* position: absolute; */
  /* bottom: 0; */
  border-style: solid;
  /* bottom: 10px; */
  /* left: 50%;  */
  transform: translateX(-50%);
  border: 1px solid #000;
  padding: 5px 10px; 
  background-color: #fff;
  cursor: pointer; 
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.body {
  padding: 1rem;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
}

.thumbnail {
  flex: 1 0 calc(16.666% - 10px); /* Adjust to create 6 thumbnails in a row */
  /* max-width: calc(16.666% - 10px); */
} 

.thumbnail img {
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 5;
}

.thumbnail-section {
  flex: 1;
  padding: 20px;
}

.thumbnail-section img {
  max-width: 100%;
  height: auto;
}

.product-section {
  flex: 2;
  padding: 20px;
  margin: 50px;
}

.product-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-section ul {
  list-style: none;
  padding: 0;
}

.product-section li {
  margin-bottom: 10px;
}

.product-list {
  height: 250px;
  width: 250px;
  border: 1px solid #ccc;
}

.comments-section {
  margin-left: 50px;
  margin-bottom: 500px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: left;
}

.comments-input {
  height: 100px;
}

.video-section {
  margin-bottom: 900px;
}